<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<h3><a href='/'>Votação do almoço</a></h3>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/times/lista">Times</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					href="/funcionarios/lista">Funcionários</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/refeitorios/lista">Refeitórios</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/semanas/lista">Semanas</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/votacao/lista">Votação</a></li>
			</ul>
		</div>
	</nav>
	<div class="form-group">
		<a href="/votacao/lista"
			class="btn btn-primary btn-lg float-right" role="button"
			aria-pressed="true">Voltar</a>
	</div>
	<div class="form-group">
	<form th:object="${votacao}" th:action="@{/votacao/salvar}"
		method="post">
		<div class="container">
			<h1>Cadatro de Funcionarios</h1>
			<p>Preencha todos os campos para criar um novo funcionário.</p>
			<hr>
			<div class="form-group row">
			<label for="id" class="col-sm-2 col-form-label">Código</label> 
				<div class="col-sm-10">
					<input type="text" placeholder="Código" th:field="*{id}" readonly="readonly"> 
				</div>
			</div>
			<div class="form-group row">
		    	<label for="inputEmail3" class="col-sm-2 col-form-label">Funcionario</label>
			    <div class="col-sm-10">
			      <select class="form-control"
					data-size="100" data-live-search="true" data-width="30%"
					name="funcionarioId" required th:field="*{funcionario}">
					<option value="">Selecione</option>
					<option th:each="t : ${votaFunc}" th:value="${t.id}"
						th:text="${t.nome}"></option>
				   </select>
			    </div>
		  	</div>
		  	
		  	<div class="form-group row">
		    	<label for="inputEmail3" class="col-sm-2 col-form-label">Refeitorio</label>
			    <div class="col-sm-10">
			      <select class="form-control"
					data-size="100" data-live-search="true" data-width="30%"
					name="funcionarioId" required th:field="*{refeitorio}">
					<option value="">Selecione</option>
					<option th:each="t : ${votaRefe}" th:value="${t.id}"
						th:text="${t.nome}"></option>
			</select>
			    </div>
		  	</div>
		  	
		  	<div class="form-group row">
		    	<label for="inputEmail3" class="col-sm-2 col-form-label">Semana</label>
			    <div class="col-sm-10">
			      <select class="form-control"
					data-size="100" data-live-search="true" data-width="30%"
					name="semanaId" required th:field="*{semanas}">
					<option value="">Selecione</option>
					<option th:each="t : ${votaSema}" th:value="${t.id}"
						th:text="${t.semanaAno} + ' - ' + ${t.diasSemana.diaSemana}"></option>
			</select>
			    </div>
		  	</div>
			<hr>

			<button type="submit" class="btn btn-primary btn-lg">Gravar</button>

		</div>
		</div>
	</form>

</body>
</html>
