<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<h3><a href='/'>Votação do almoço</a></h3>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/times/lista">Times</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					href="/funcionarios/lista">Funcionários</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/refeitorios/lista">Refeitórios</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/semanas/lista">Semanas</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/votacao/lista">Votação</a></li>
			</ul>
		</div>
	</nav>
	<div class="form-group">
		<a href="/funcionarios/lista"
			class="btn btn-primary btn-lg float-right" role="button"
			aria-pressed="true">Voltar</a>
	</div>
	<form th:object="${funcionario}" th:action="@{/funcionarios/salvar}"
		method="post">
		<div class="container">
			<h1>Cadatro de Funcionarios</h1>
			<p>Preencha todos os campos para criar um novo funcionário.</p>
			<hr>

			<label for="id"><b>Código</b></label> 
			<input type="text" placeholder="Código" th:field="*{id}" readonly="readonly"> 
			<label for="nome"><b>Nome</b></label> 
			<input type="text" placeholder="Digite o nome" th:field="*{nome}" required>
			<label for="lancamentos">Time</label> 
			<select class="form-control"
					data-size="100" data-live-search="true" data-width="30%"
					name="lancamentoId" required th:field="*{timeId}">
					<option value="">Selecione</option>
					<option th:each="t : ${timesFunc}" th:value="${t.id}"
						th:text="${t.nome}"></option>
			</select>
			<hr>

			<button type="submit" class="btn btn-primary btn-lg">Gravar</button>
		</div>
	</form>

</body>
</html>
