<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<h3><a href='/'>Votação do almoço</a></h3>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/times/lista">Times</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					href="/funcionarios/lista">Funcionários</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/refeitorios/lista">Refeitórios</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/semanas/lista">Semanas</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/votacao/lista">Votação</a></li>
			</ul>
		</div>
	</nav>
	<div class="container signin"></div>
	<div class="form-group">
		<a href="/semanas/cadastro"
			class="btn btn-primary btn-lg float-right" role="button"
			aria-pressed="true">Incluir</a>
	</div>
	<table class="table table-bordered">
		<tr>
			<th>Id</th>
			<th>Time</th>
			<th></th>
		</tr>
		<tr th:each="time : ${listaTimes}">
			<td th:text="${time.id}"></td>
			<td th:text="${time.nome}"></td>
			<td><a class="btn btn-primary"
				th:href="@{/times/editar/{id}(id=${time.id})}">Editar</a>
				<a class="btn btn-danger"
				th:href="@{/times/excluir/{id}(id=${time.id})}">Excluir</a>
			</th>
		</tr>
	</table>

</body>
</html>