<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<h3><a href='/'>Votação do almoço</a></h3>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/times/lista">Times</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					href="/funcionarios/lista">Funcionários</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/refeitorios/lista">Refeitórios</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/semanas/lista">Semanas</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/votacao/lista">Votação</a></li>
			</ul>
		</div>
	</nav>
	<div class="form-group">
		<a href="/semanas/lista"
			class="btn btn-primary btn-lg float-right" role="button"
			aria-pressed="true">Voltar</a>
	</div>
	<form th:object="${semana}" th:action="@{/semanas/salvar}"
		method="post">
		<div class="container">
			<h1>Cadatro de Semanas</h1>
			<p>Preencha todos os campos para criar uma nova semana.</p>
			<hr>

			<label for="id"><b>Código</b></label> 
			<input type="text" placeholder="Código" th:field="*{id}" readonly="readonly"> 
			
			<label for="semanaAno"><b>Semana do Ano</b></label> 
			
			<select th:field="*{semanaAno}">
				<option value="SEMANA 1" selected="selected">SEMANA 1</option>
				<option value="SEMANA 2">SEMANA 2</option>
				<option value="SEMANA 3">SEMANA 3</option>
			</select>
			
			<label for="nome"><b>Dia da Semana</b></label> 
			
			<select id="segmentoSel" th:field="*{diasSemana}">
				<option th:each="diaSemana : ${T(com.dbserver.Enum.DiasSemana).values()}" 
			        th:value="${diaSemana.getDescricao()}" th:text="${diaSemana.getDescricao()}"></option>
			</select>
			<hr>

			<button type="submit" class="btn btn-primary btn-lg">Gravar</button>
		</div>
	</form>

</body>
</html>
